button {
  width: 100px;
  height: 40px;
  background-color: hsl(183, 100%, 15%);
  border: 0px;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Space Mono", monospace;
  font-size: 22px;
}

button,
input {
  cursor: pointer;
}

* {
  font-weight: 700;
}

input::placeholder {
  font-size: 20px;
  padding-left: 5px;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#res {
  margin-top: 75px;
}

#main {
  width: 50%;
  height: 340px;
  background-color: hsl(189, 41%, 97%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 800px;
  min-width: 750px;
  margin: auto;
  border-radius: 25px;
  padding: 40px;
  display: flex;
  flex-direction: row;
}

#left {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.texts {
  color: hsl(186, 14%, 43%);
  font-size: 15px;
}

input {
  width: 80%;
  height: 20px;
  margin-top: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: hsl(185, 30%, 93%);
  padding: 10px;
  font-size: 24px;
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace;
  text-align: right;
}

#person_icon {
  position: absolute;
  left: 50px;
  top: 340px;
}

#dollar_icon {
  position: absolute;
  left: 50px;
  top: 80px;
}

#buttons {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#custom_button {
  background-color: hsl(185, 30%, 93%);
  color: hsl(186, 14%, 43%);
}

#custom_button input {
  width: 77px;
  height: 17px;
  border: 0px;
  margin-top: -3px;
  margin-left: -5px;
}

#total_with_margin {
  margin-bottom: 25px;
}

#bill_field {
  margin-bottom: 30px;
}

#right {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 50px 30px;
  font-family: "Space Mono", monospace;
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sec_text {
  color: hsl(186, 14%, 43%);
  font-size: 12px;
}

.pr_text {
  color: white;
  font-size: 15px;
}

.res_text {
  color: hsl(172, 67%, 45%);
  font-size: 40px;
}

#reset_button {
  height: 40px;
  margin-top: 0px;
  background-color: hsl(172, 67%, 45%);
  width: 100%;
  font-size: 18px;
  color: hsl(183, 100%, 15%);
}

input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

input:active {
  outline: 2px solid hsl(172, 67%, 45%);
}

button:focus {
  background-color: hsl(172, 67%, 45%);
  outline: none;
  color: hsl(183, 100%, 15%);
}

#reset_button:active {
  background-color: hsl(185, 41%, 84%);
}

@media screen and (max-width: 700px) {
  #main {
    flex-direction: column;
    width: 350px;
    min-width: 10px;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding-bottom: 10px;
  }

  button {
    width: 40%;
  }

  #left {
    margin: 0;
    width: 100%;
    height: 1000px;
    max-width: 375px;
  }
  #right {
    margin: 0;
    width: 90%;
    height: 1000px;
    max-width: 375px;
    padding: 25px;
    margin-bottom: 50px;
  }

  #buttons {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #second_input {
    margin-bottom: 30px;
  }

  input {
    width: 90%;
    margin: auto;
  }

  #buttons button {
    width: 47%;
    margin-bottom: 15px;
  }
  #res {
    margin-top: 10px;
  }

  input {
    margin-top: 10px;
  }

  #person_icon {
    position: absolute;
    left: 50px;
    top: 390px;
  }

  #dollar_icon {
    position: absolute;
    left: 50px;
    top: 70px;
  }

  #custom_button input {
    width: 140px;
  }

  input::placeholder {
    font-size: 20px;
    padding-left: 65px;
  }
}
